<div class="card" id="connectioncard">
    <div class="card-header">
        <h2>Important Warning</h2>
    </div>
    <div class="card-body card-padding">
        Igtradingtool.eu is fully available free of charge<br><br>There is no warranty associated to this program or its usage. The website igtradingtool.eu or his manager Kevin BALINI can't be held responsible in case of bug, malfunction or loss on your trading account. Usage of igtradingtool.eu and eventual lost occurring is under your own responsibilities<br><br>IG Group is not associated to igtradingtool.eu that has been fully developed by Kevin BALINI<br><br><span style="font-weight: bold">This application has been developed for Scalpers and Day traders with strong experiences<br>It is strongly advised to use it initially with a Demo Account to understand all functionalities</span><br><br>In case of connection problem please test your Login credential on http://labs.ig.com/sample-apps/api-companion/index.html<br/>
        <a class="btn btn-primary btn-sm m-t-10 waves-effect" href="/" data-no-pjax>Back to home</a>

    </div>
</div>