
<div class="row" id="connectioncard">
    <div class="col-md-3">
        <div class="card">
            <div class="card-header">
                <h2>Saved Accounts</h2>
            </div>

            <div class="card-body card-padding" id="savedAccountList">
                <div class="text-center">
                    <h3>No accounts saved !!!</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="card">
            <div class="card-header">
                <h2>IG Connection</h2>
            </div>

            <div class="card-body card-padding">
                <form role="form" id="connectionForm">
                    <div class="form-group fg-line">
                        <label for="exampleInputEmail1">Username</label>
                        <input type="text" class="form-control input-sm" id="username" placeholder="Username" value="">
                    </div>
                    <div class="form-group fg-line">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control input-sm" id="password" placeholder="Password" value="">
                    </div>
                    <div class="form-group fg-line">
                        <label for="exampleInputPassword1">API key</label>
                        <input type="text" class="form-control input-sm" id="apikey" placeholder="API key" value="">
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" id="demo">
                            <i class="input-helper"></i>
                            Demo ?
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" id="savelogin">
                            <i class="input-helper"></i>
                            Save login credentials on this computer ?
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" value="" id="conditions">
                            <i class="input-helper"></i>
                            I have read, understand and accept the <a href="/terms" data-no-pjax>terms and conditions</a>
                        </label>
                    </div>

                    <button class="btn btn-primary btn-sm m-t-10 waves-effect" id="loginButton" type="button" disabled>Login</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="hidden" id="tradingcard">
    <div class="row">
        <div class="col-sm-6 col-md-3 hidden-xs statsHiddenOnXs">
            <div class="mini-charts-item bgm-cyan text-center">
                <div class="clearfix">
                    <div class="count">
                        <small>Funds</small>
                        <h2><span id="FUNDS"></span> <span class="accountCurrencySymbol"></span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs statsHiddenOnXs">
            <div class="mini-charts-item bgm-lightgreen text-center">
                <div class="clearfix">
                    <div class="count">
                        <small>Available</small>
                        <h2><span id="AVAILABLE_TO_DEAL"></span> <span class="accountCurrencySymbol"></span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3 hidden-xs statsHiddenOnXs">
            <div class="mini-charts-item bgm-orange text-center">
                <div class="clearfix">
                    <div class="count">
                        <small>PNL Day(<span class="accountCurrencySymbol"></span>)</small>
                        <h2 id="PNLDColor"><span id="PNLD">0</span> <span class="accountCurrencySymbol"></span></h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-3">
            <div class="mini-charts-item bgm-bluegray">
                <div class="clearfix">
                    <div class="col-xs-6">
                            <div class="count">
                                <small>PNL Day(pts)</small>
                                <h2 id="PNLDPColor"><span id="PNLP">0</span></h2>
                            </div>
                    </div>
                    <div class="col-xs-6 text-right">
                            <div class="count">
                                <small>PNL (pts)</small>
                                <h2 id="PNLCPColor"><span id="PNLCP">0</span></h2>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12" id="nocardjumbotron">
            <!--<div class="card-body card-padding">-->
                <div class="jumbotron text-center">
                    <h1>No trading card yet !!!</h1>
                    <p>Find your favorite epics in the menu bar !!!</p>
                </div>
            <!--</div>-->
        </div>
    </div>
    <div class="row" id="epicTradingCard"></div>
    
</div>
<div id="REPORT" class="hidden" style="background-color: #EDECEC;">
    <div class="block-header">
        <h2>
            <span class="hidden-xs">Report - From: </span>
            <a href="#" id="FROM_STATS" data-type="date" data-placement="bottom" data-title="From date" class="editable"><?= date('d-m-Y');  ?></a> -
            <span class="hidden-xs">To: </span>
            <a href="#" id="TO_STATS" data-type="date" data-placement="bottom" data-title="To date" class="editable"><?= date('d-m-Y');  ?></a>
            <!--<input type="radio" name="results" value="points"> Points <input type="radio" name="results" value="money"> € <input type="radio" name="results" value="percent"> %-->
        </h2>
        <ul class="actions">
            <li>
                <a href="#" id="EXPORT_STATS_TO_PNG" data-no-pjax>
                    <i class="zmdi zmdi-book-image"></i>
                </a>
            </li>
            <li>
                <a href="#" id="HIDE_STATS_VALUES" data-no-pjax>
                    <i class="zmdi zmdi-eye-off"></i>
                </a>
            </li>
            <li>
                <a href="#" id="UPDATE_STATS" data-no-pjax>
                    <i class="zmdi zmdi-refresh"></i>
                </a>
            </li>
        </ul>
    </div>
    <div class="mini-charts">
        <div class="row">
            <div class="col-sm-3">
                <div class="mini-charts-item bgm-cyan text-center">
                    <div class="clearfix">
                        <div class="count">
                            <small>Growth</small>
                            <h2><span id="GROWTH">0 %</span> / <span id="MONEY_TOTAL">0 €</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="mini-charts-item bgm-lightgreen text-center">
                    <div class="clearfix">
                        <div class="count">
                            <small>Points</small>
                            <h2 id="PTS_TOTAL">0</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="mini-charts-item bgm-orange text-center">
                    <div class="clearfix">
                        <div class="count">
                            <small>Total Trades</small>
                            <h2 id="NB_TRADES">0</h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="mini-charts-item bgm-bluegray text-center">
                    <div class="clearfix">
                        <div class="count">
                            <small>Pts / Trade</small>
                            <h2><span id="PTS_PER_TRADE">0 €</span></h2>
                        </div>
                    </div>
                </div>
            </div>


            <div class="col-sm-3">
                <div class="mini-charts-item bgm-teal text-center">
                    <div class="clearfix">
                        <div class="count">
                            <small>Profit Factor / Max Drawdown (pts)</small>
                            <h2><span id="PROFIT_FACTOR">0</span> / <sapn id="DRAWDOWN">-</sapn></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="mini-charts-item bgm-red text-center">
                    <div class="clearfix">
                        <div class="count">
                            <small>Points Detail W/L</small>
                            <h2><span id="PTS_WON">0</span> / <span id="PTS_LOST">0</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="mini-charts-item bgm-blue text-center">
                    <div class="clearfix">
                        <div class="count">
                            <small>Trades Detail W&amp;F/L %</small>
                            <h2><span id="TRADES_WON">0</span> / <span id="TRADES_LOST">0</span></h2>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-sm-3">
                <div class="mini-charts-item bgm-pink text-center">
                    <div class="clearfix">
                        <div class="count">
                            <small>Points Averages W/L</small>
                            <h2><span id="AVG_PTS_WIN">0</span> / <span id="AVG_PTS_LOSS">0</span></h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card" style="height: 627px;">
                <div role="tabpanel">
                                <ul class="tab-nav" role="tablist" tabindex="1" style="overflow: hidden; outline: none;">
                                    <li class="active"><a href="#pointChart" aria-controls="pointChart" role="tab" data-toggle="tab" aria-expanded="true">Points Chart</a></li>
                                    <li><a href="#moneyChart" aria-controls="moneyChart" role="tab" data-toggle="tab" aria-expanded="false">Money Chart</a></li>
                                    <li><a href="#capitalGrowthChart" aria-controls="capitalGrowthChart" role="tab" data-toggle="tab" aria-expanded="false">Capital Growth Chart</a></li>
                                    <li><a href="#capitalChart" aria-controls="capitalChart" role="tab" data-toggle="tab" aria-expanded="false">Capital Chart</a></li>
                                    <li><a href="#trades" aria-controls="trades" role="tab" data-toggle="tab" aria-expanded="false">Trades List</a></li>
                                </ul>
                              
                                <div class="tab-content">
                                    <div role="tabpanel" class="tab-pane active" id="pointChart">
                                        <div class="card-body card-padding-sm">
                                            <div class="points-container">
                                                <div id="points-chart" class="points-placeholder"></div>
                                                    <div class="flc-dynamic"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="moneyChart">
                                        <div class="card-body card-padding-sm">
                                            <div class="points-container">
                                                <div id="money-chart" class="points-placeholder"></div>
                                                    <div class="flc-dynamic"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="capitalGrowthChart">
                                        <div class="card-body card-padding-sm">
                                            <div class="points-container">
                                                <div id="capital-growth-chart" class="points-placeholder"></div>
                                                    <div class="flc-dynamic"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="capitalChart">
                                        <div class="card-body card-padding-sm">
                                            <div class="points-container">
                                                <div id="capital-chart" class="points-placeholder"></div>
                                                    <div class="flc-dynamic"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div role="tabpanel" class="tab-pane" id="trades">
                                        <table class="table table-inner table-vmiddle">
                                            <thead>
                                                <tr>
                                                    <th>Epic</th>
                                                    <th>Date / Time</th>
                                                    <th>Size</th>
                                                    <th>Levels</th>
                                                    <th>Pts</th>
                                                    <th>PNL</th>
                                                </tr>
                                            </thead>
                                            <tbody id="STATS_TRADES_LIST">
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
            </div>
        </div>
    </div>
</div>
<div id="tooltip"></div>

