<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <?= $this->tag->getTitle(); ?>

        <!-- Vendor CSS -->
        <?= $this->assets->outputCss('vendorCss'); ?>
        
        
            
        <!-- CSS -->
        <?= $this->assets->outputCss('appCss'); ?>
        
    </head>
<body>
        <header id="header">
            <ul class="header-inner">
                <li id="menu-trigger" data-trigger="#sidebar" class="hidden">
                    <div class="line-wrap">
                        <div class="line top"></div>
                        <div class="line center"></div>
                        <div class="line bottom"></div>
                    </div>
                </li>
            
                <li class="logo hidden-xs">
                    <a href="/" data-no-pjax><?= $this->config->application->siteTitle ?></a>
                </li>
                
                <li class="pull-right">
                    <ul class="top-menu">
                        <li id="toggle-width" class="hidden">
                            <div class="toggle-switch">
                                <input id="tw-switch" type="checkbox" hidden="hidden">
                                <label for="tw-switch" class="ts-helper"></label>
                            </div>
                        </li>
                        <li id="showHistory" class="hidden">
                            <a href="#" id="showHistoryIcon" class="text-center c-white show pull-right f-24" data-no-pjax><i class="zmdi zmdi-tv-list"></i></a>
                        </li>
                        <li id="showReport" class="hidden">
                            <a href="#" id="showReportIcon" class="text-center c-white show pull-right f-24" data-no-pjax><i class="zmdi zmdi-trending-up"></i></a>
                        </li>
                        <li id="showCurrency" class="hidden hidden-sm hidden-md hidden-lg">
                            <a id="showCurrencyIcon" href="#" class="text-center c-white show pull-right f-24" data-no-pjax><span class="accountCurrencySymbol"></span></a>
                        </li>
                        <li id="top-search" class="hidden">
                            <a class="tm-search" href="#" data-no-pjax></a>
                        </li>
                        <li id="alarms" class="dropdown hidden">
                            <a data-toggle="dropdown" class="tm-notification" href="#" data-no-pjax><i id="alarmsCount" class="tmn-counts hidden">0</i></a>
                            <div class="dropdown-menu dropdown-menu-lg pull-right">
                                <div class="listview" id="notifications">
                                    <div class="lv-header">
                                        Alarms
                                    </div>
                                    <div class="lv-body" id="alarmList">
                                    </div>
                                </div>

                            </div>
                        </li>
                        <li id="connection">
                            <a id="connection-a" data-toggle="dropdown" href="#" class="text-center c-red show pull-right f-24" data-no-pjax><i id="connection-icon" class="zmdi zmdi-cast"></i></a>
                            <ul class="dropdown-menu dm-icon pull-right">
                                <li id="connection-li">
                                    <a id="connection-li-a" class="bgm-red" data-no-pjax><i id="connection-li-icon" class="zmdi zmdi-close"></i> <span id="connection-text">Not logged in</span></a>
                                </li>
                                <li id="rt-li">
                                    <a id="rt-li-a" class="bgm-red" data-no-pjax><i id="rt-li-icon" class="zmdi zmdi-time"></i><span id="rt-text"> Response time </span></a>
                                </li>
                                <li>
                                    <a id="settings" href="#" class="hidden" data-no-pjax><i class="zmdi zmdi-settings"></i> Settings</a>
                                </li>
                                <li>
                                    <a data-action="fullscreen" href="#" data-no-pjax><i class="zmdi zmdi-fullscreen"></i> Toggle Fullscreen</a>
                                </li>
                                <li>
                                    <a data-action="clear-localstorage" href="#" data-no-pjax><i class="zmdi zmdi-delete"></i> Clear Local Storage</a>
                                </li>
                                <li>
                                    <a id="about" href="#" data-no-pjax><i class="zmdi zmdi-info-outline"></i> About</a>
                                </li>
                                <li class="divider hidden" id="logout_divider"></li>
                                <li id="logout" class="hidden">
                                    <a href="/" data-no-pjax id="logoutLs"><i id="connection-li-icon" class="zmdi zmdi-close"></i> Log out</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Top Search Content -->
            <div id="top-search-wrap">
                <input type="text" id="searchEpic" autocomplete="off">
                <i id="top-search-close">&times;</i>
            </div>
        </header>
        <div class="spinner hidden">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>
        
        <?= $this->getContent(); ?>
        
        <div class="fixed-action-button hidden">
            <button class="btn btn-danger btn-icon waves-effect waves-circle waves-float btn-icon-fab" id="CLOSE_ALL"  data-toggle="tooltip" data-placement="left" title="" data-original-title="Close all open positions">
                <i class="zmdi zmdi-alert-triangle"></i>
            </button>
        </div>
        <div class="modal fade" id="modalSettings" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Settings</h4>
                    </div>
                    <div class="modal-body">
                        <div id="settingsUnavailable" class="jumbotron text-center">
                            <h5>These settings won't be saved. You need to save your account to retrieve your settings later.<br/><br/><button class="btn btn-warning btn-sm" id="saveAccountInSession">Save my account</button></h5>
                        </div>
                        <div id="settingsAvailable">
                            <form role="form">
                                <p class="c-black f-500 m-b-5">Mouse Click Event Trigger</p>
                                <small>Bind a click event on mouse up or mouse down.</small>
                                <div class="radio m-b-25">
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="click_event_trigger" value="mouseup">
                                        <i class="input-helper"></i>
                                        MouseUp
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="click_event_trigger" value="mousedown">
                                        <i class="input-helper"></i>
                                        MouseDown
                                    </label>
                                </div>
                                <p class="c-black f-500 m-b-5">Header color</p>
                                <small>Choose the header color for this account.</small>                   
                                <div class="radio m-b-25">
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#F44336">
                                        <i class="input-helper"></i>  
                                        <span id="F44336" class="headerColorChooser" style="background-color:#F44336;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#E91E63">
                                        <i class="input-helper"></i>  
                                        <span id="E91E63" class="headerColorChooser" style="background-color:#E91E63;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#9C27B0">
                                        <i class="input-helper"></i>  
                                        <span id="9C27B0" class="headerColorChooser" style="background-color:#9C27B0;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#673AB7">
                                        <i class="input-helper"></i>  
                                        <span id="673AB7" class="headerColorChooser" style="background-color:#673AB7;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#3F51B5">
                                        <i class="input-helper"></i>  
                                        <span id="3F51B5" class="headerColorChooser" style="background-color:#3F51B5;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#2196F3">
                                        <i class="input-helper"></i>  
                                        <span id="2196F3" class="headerColorChooser" style="background-color:#2196F3;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#03A9F4">
                                        <i class="input-helper"></i>  
                                        <span id="03A9F4" class="headerColorChooser" style="background-color:#03A9F4;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#00BCD4">
                                        <i class="input-helper"></i>  
                                        <span id="00BCD4" class="headerColorChooser" style="background-color:#00BCD4;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#009688">
                                        <i class="input-helper"></i>  
                                        <span id="009688" class="headerColorChooser" style="background-color:#009688;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#4CAF50">
                                        <i class="input-helper"></i>  
                                        <span id="4CAF50" class="headerColorChooser" style="background-color:#4CAF50;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#8BC34A">
                                        <i class="input-helper"></i>  
                                        <span id="8BC34A" class="headerColorChooser" style="background-color:#8BC34A;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#CDDC39">
                                        <i class="input-helper"></i>  
                                        <span id="CDDC39" class="headerColorChooser" style="background-color:#CDDC39;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#FFEB3B">
                                        <i class="input-helper"></i>  
                                        <span id="FFEB3B" class="headerColorChooser" style="background-color:#FFEB3B;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#FFC107">
                                        <i class="input-helper"></i>  
                                        <span id="FFC107" class="headerColorChooser" style="background-color:#FFC107;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#FF9800">
                                        <i class="input-helper"></i>  
                                        <span id="FF9800" class="headerColorChooser" style="background-color:#FF9800;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#FF5722">
                                        <i class="input-helper"></i>  
                                        <span id="FF5722" class="headerColorChooser" style="background-color:#FF5722;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#795548">
                                        <i class="input-helper"></i>  
                                        <span id="795548" class="headerColorChooser" style="background-color:#795548;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#9E9E9E">
                                        <i class="input-helper"></i>  
                                        <span id="9E9E9E" class="headerColorChooser" style="background-color:#9E9E9E;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#607D8B">
                                        <i class="input-helper"></i>  
                                        <span id="607D8B" class="headerColorChooser" style="background-color:#607D8B;"></span>
                                    </label>
                                    <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                        <input type="radio" name="header_color" value="#000000">
                                        <i class="input-helper"></i>  
                                        <span id="000000" class="headerColorChooser" style="background-color:#000000;"></span>
                                    </label>
                                </div>
                                <p class="c-black f-500 m-b-5">Lots size <i class="zmdi zmdi-alert-triangle"></i> This function is experimental and require all your attention!</p>
                                <small>Auto calculate lots size.</small>                   
                                <div class="m-b-25 m-t-10">
                                    <label class="checkbox checkbox-inline m-r-20 m-l-20 m-b-20">
                                        <input type="checkbox" id="autocalculate"> 
                                        <i class="input-helper"></i>
                                        Auto-calculate
                                    </label>
                                    <label class="checkbox checkbox-inline m-r-20 m-l-20 m-b-20">
                                        <input type="checkbox" id="autofill">
                                        <i class="input-helper"></i>
                                        Auto-fill epic's lot size
                                    </label>
                                    <div class="col-sm-6">
                                        <div class="form-group fg-line">
                                            <label for="SLLotsCalculator">SL (points)</label>
                                            <input type="number" class="form-control input-sm" id="SLLotsCalculator" placeholder="SL (points)">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group fg-line">
                                            <label for="PercentLotsCalculator">Percent of loss per trade</label>
                                            <input type="number" class="form-control input-sm" id="PercentLotsCalculator" placeholder="% of loss / trade">
                                        </div>
                                    </div>
                                </div>
                                <p class="c-black f-500 m-b-5">Favorite epics</p>
                                <small>These epics are open automatically on login.</small>                   
                                <div class="m-b-25 m-t-10" id="favoriteEpicsList">
                                </div>
                                <div class="col-xs-6">
                                    <p class="c-black f-500 m-b-5">Auto lock</p>
                                    <small>Auto lock the application if your inactive.</small>                   
                                    <div class="m-b-25 m-t-10">
                                        <label class="checkbox checkbox-inline m-r-20 m-l-20 m-b-20 col-xs-6">
                                            <input type="checkbox" id="autolock"> 
                                            <i class="input-helper"></i>
                                            Auto-lock
                                        </label>
                                        <div class="form-group fg-line col-xs-6">
                                            <label for="autoLockTime">Delay of inactivity (minutes)</label>
                                            <input type="number" class="form-control input-sm" id="autoLockTime" placeholder="Delay (minutes)">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <p class="c-black f-500 m-b-5">Auto log out</p>
                                    <small>Auto log out from the application if your inactive.</small>                   
                                    <div class="m-b-25 m-t-10">
                                        <label class="checkbox checkbox-inline m-r-20 m-l-20 m-b-20 col-xs-6">
                                            <input type="checkbox" id="autologout" checked> 
                                            <i class="input-helper"></i>
                                            Auto log out
                                        </label>
                                        <div class="form-group fg-line col-xs-6">
                                            <label for="autoLogOutTime">Delay of inactivity (minutes)</label>
                                            <input type="number" class="form-control input-sm" id="autoLogOutTime" placeholder="Delay (minutes)">
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalEpic" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Epics List</h4>
                    </div>
                    <div class="modal-body">
                        <div class="table-responsive" tabindex="1">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Instrument</th>
                                        <th>Expiry</th>
                                        <th>Add</th>
                                    </tr>
                                </thead>
                                <tbody id="tbodyepicslist">
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="modalAlarm" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add alarm</h4>
                    </div>
                    <div class="modal-body">
                        <form role="form" id="alarmForm">
                            <div class="form-group fg-line">
                                <label for="alarmEpicName">Epic name</label>
                                <input type="text" class="form-control input-sm" id="alarmEpicName" placeholder="Epic name" disabled>
                            </div>
                            <div class="form-group fg-line">
                                <label for="alarmEpic">Epic</label>
                                <input type="text" class="form-control input-sm" id="alarmEpic" placeholder="Epic" disabled>
                            </div>
                            <div class="radio m-b-25">
                                <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                    <input type="radio" name="alarmType" value="0_50_LEVEL">
                                    <i class="input-helper"></i>  
                                    00 - 50 Level
                                </label>
                                <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                    <input type="radio" name="alarmType" value="LEVEL">
                                    <i class="input-helper"></i>  
                                    Level
                                </label>
                                <label class="radio radio-inline m-r-20 m-l-20 m-b-20">
                                    <input type="radio" name="alarmType" value="PP_LEVEL" disabled>
                                    <i class="input-helper"></i>
                                    Pivot Points (doesn't work yet)
                                </label>
                            </div>
                            <div id="0_50_LEVEL_MARGIN_INPUT" class="form-group fg-line hidden">
                                <label for="0_50_LEVEL_MARGIN">Margin</label>
                                <input type="text" class="form-control input-sm" id="0_50_LEVEL_MARGIN" placeholder="Margin">
                            </div>
                            <div id="PP_LEVEL_METHOD_SELECT" class="form-group hidden">
                                <div class="fg-line">
                                    <div class="select">
                                        <label for="PP_LEVEL_METHOD">Method</label>
                                        <select class="form-control" id="PP_LEVEL_METHOD">
                                            <option value="HLC3">(H + L + C) / 3</option>
                                            <option value="HLCOd4">(H + L + C + O daily) / 4</option>
                                            <option value="HLOd3">(H + L + O daily) / 3</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="PP_LEVEL_PERIOD_SELECT" class="form-group hidden">
                                <div class="fg-line">
                                    <div class="select">
                                        <label for="PP_LEVEL_PERIOD">Period</label>
                                        <select class="form-control" id="PP_LEVEL_PERIOD">
                                            <option value="DAY">Daily</option>
                                            <option value="WEEK">Weekly</option>
                                            <option value="MONTH">Monthly</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div id="PP_LEVEL_MARGIN_INPUT" class="form-group fg-line hidden">
                                <label for="PP_LEVEL_MARGIN_INPUT">Margin</label>
                                <input type="text" class="form-control input-sm" id="PP_LEVEL_MARGIN" placeholder="Margin" value="5">
                            </div>
                            <div id="LEVEL_INPUT" class="form-group fg-line hidden">
                                <label for="LEVEL">Level (price)</label>
                                <input type="text" class="form-control input-sm" id="LEVEL" placeholder="Level (price)">
                            </div>
                            <div id="LEVEL_INPUT_MARGIN" class="form-group fg-line hidden">
                                <label for="LEVEL_MARGIN">Margin</label>
                                <input type="text" class="form-control input-sm" id="LEVEL_MARGIN" placeholder="Margin">
                            </div>
                            <div class="checkbox m-b-15">
                                <label>
                                    <input type="checkbox" id="alarmActive" value="" checked>
                                    <i class="input-helper"></i>
                                    Active ?
                                </label>
                            </div>
                            <div class="checkbox m-b-15">
                                <label>
                                    <input type="checkbox" id="alarmPlaySound" value="" checked>
                                    <i class="input-helper"></i>
                                    Play sound ?
                                </label>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link waves-effect" data-dismiss="modal">Cancel</button>
                        <button type="button" id="saveAlarm" class="btn bgm-blue waves-effect">Save</button>
                    </div>
                </div>
            </div>
        </div>
        <footer id="footer">
            Kevin BALINI &copy; 2015
            
            <ul class="f-menu">
                <li><a href="/" data-no-pjax>Home</a></li>
                <li><a href="/terms" data-no-pjax>Terms</a></li>
            </ul>
        </footer>
        
        <!-- Javascript Libraries -->
        <?= $this->assets->outputJs('commonJs'); ?>
        
        
        <!-- Placeholder for IE9 -->
        <!--[if IE 9 ]>
            <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
        <![endif]-->
        
        
        <!-- App script -->
        <?= $this->assets->outputJs('appJs'); ?>

        <!-- IG scripts -->
        <?= $this->assets->outputJs('igJs'); ?>
    
    <!-- app scripts -->
    

    <!-- specific scripts -->
    <?= $this->assets->outputJs(); ?>
    
    <!-- Google Analytics  -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-67566414-1', 'auto');
      ga('send', 'pageview');
        
          
      $('#about').click(function(e){
          e.preventDefault();
          swal({   
              title: "IG Trading Tool",   
              text: "Kevin BALINI (kevin.balini@gmail.com)\nv <?= $this->config->application->version ?>",   
              imageUrl: "img/thumbs-up.png" 
          });
      });

    </script>
    


    <!-- Menu active class designer -->
    <?php if (isset($activeClass)): ?>
        <script type="text/javascript">
            $('.<?php echo $activeClass; ?>').addClass('active');
        </script>
    <?php endif; ?>
    <?php if (isset($openTab)): ?>
        <script type="text/javascript">
            $('.<?php echo $openTab; ?>').removeClass('collapsed');
            $('.<?php echo $openTab; ?>').parent('li').addClass('active');
            $($('.<?php echo $openTab; ?>').attr('href')).addClass('open in');
        </script>
    <?php endif; ?>
    
    </body>
</html>