
<div class="logo">
    <h4><a href="/"><?= $this->config->application->siteTitle ?></a></h4>
</div>
<nav id="sidebar" class="sidebar nav-collapse collapse">
    <ul id="side-nav" class="side-nav">
      <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'dashboard', 'index')): ?>
            <li class="dashboard">
                <a href="/dashboard"><i class="fa fa-home"></i> <span class="name">Dashboard</span></a>
            </li>
        <?php endif; ?>
        <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'accounts', 'index')): ?>
            <li class="panel ">
                <a class="accordion-toggle accounts collapsed" data-toggle="collapse"
                   data-parent="#side-nav" href="#accounts"><i class="fa fa-pencil"></i> <span class="name">Accounts</span></a>
                <ul id="accounts" class="panel-collapse collapse ">
                    <?php
                        if($accounts){
                            foreach ($accounts as $account) {
                                echo '<li class="account_view_'.$account->getId().'"><a href="/accounts/view/'.$account->getId().'/'. \IGTrading\Utils\Slug::generate($account->getName()).'"><i class="fa fa-caret-right"></i> '.$account->getName().'</a></li>';
                            }
                        }
                    ?>
                    <li class="account_manage"><a href="/accounts"><i class="fa fa-list"></i> Manage</a></li>
                    <li class="account_add"><a href="/accounts/add"><i class="fa fa-plus"></i> Add</a></li>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'administration', 'index')): ?>
            <li class="panel ">
                <a class="accordion-toggle admin collapsed" data-toggle="collapse"
                   data-parent="#side-nav" href="#administration"><i class="fa fa-space-shuttle"></i> <span class="name">Admin</span></a>
                <ul id="administration" class="panel-collapse collapse ">
                  <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'permissions', 'index')): ?>
                        <li class="permissions">
                            <a href="/permissions"><span class="name"><i class="fa fa-caret-right"></i> Permissions</span></a>
                        </li>
                    <?php endif; ?>
                    <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'brokers', 'index')): ?>
                        <li class="brokers">
                            <a href="/brokers"><span class="name"><i class="fa fa-caret-right"></i> Brokers</span></a>
                        </li>
                    <?php endif; ?>
                    <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'connectors', 'index')): ?>
                        <li class="connectors">
                            <a href="/connectors"><span class="name"><i class="fa fa-caret-right"></i> Connectors</span></a>
                        </li>
                    <?php endif; ?>
                    <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'connectors_maps', 'index')): ?>
                        <li class="connectors_maps">
                            <a href="/connectors_maps"><span class="name"><i class="fa fa-caret-right"></i> Connectors Maps</span></a>
                        </li>
                    <?php endif; ?>
                    <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'instruments', 'index')): ?>
                        <li class="instruments">
                            <a href="/instruments"><span class="name"><i class="fa fa-caret-right"></i> Instruments</span></a>
                        </li>
                    <?php endif; ?>
                    <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'instruments_maps', 'index')): ?>
                        <li class="instruments_maps">
                            <a href="/instruments_maps"><span class="name"><i class="fa fa-caret-right"></i> Instruments Maps</span></a>
                        </li>
                    <?php endif; ?>
                  <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'permissions', 'index')): ?>
                        <li class="phpmyadmin">
                            <a href="/lib/phpmyadmin" data-no-pjax><span class="name"><i class="fa fa-caret-right"></i> PhpMyAdmin</span></a>
                        </li>
                        <li class="phpinfo">
                            <a href="/phpinfo.php" data-no-pjax><span class="name"><i class="fa fa-caret-right"></i> PhpInfo</span></a>
                        </li>
                    <?php endif; ?>
                </ul>
            </li>
        <?php endif; ?>
        <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'session', 'logout')): ?>
            <li class="visible-xs">
                <a href="/session/logout" data-no-pjax><i class="fa fa-sign-out"></i> <span class="name">Sign Out</span></a>
            </li>
        <?php endif; ?>
    </ul>


    <!--    <h5 class="sidebar-nav-title">Projects</h5>
         A place for sidebar notifications & alerts 
        <div class="sidebar-alerts">
            <div class="alert fade in">
                <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                <span class="text-white fw-semi-bold">Sales Report</span> <br>
                <div class="progress progress-xs mt-xs mb-0">
                    <div class="progress-bar progress-bar-gray-light" style="width: 16%"></div>
                </div>
                <small>Calculating x-axis bias... 65%</small>
            </div>
            <div class="alert fade in">
                <a href="#" class="close" data-dismiss="alert" aria-hidden="true">&times;</a>
                <span class="text-white fw-semi-bold">Personal Responsibility</span> <br>
                <div class="progress progress-xs mt-xs mb-0">
                    <div class="progress-bar progress-bar-danger" style="width: 23%"></div>
                </div>
                <small>Provide required notes</small>
            </div>
        </div>-->
</nav>    
<div class="wrap">
    <header class="page-header">
        <div class="navbar">
            <ul class="nav navbar-nav navbar-right pull-right">
                <li class="visible-phone-landscape">
                    <a href="#" id="search-toggle">
                        <i class="fa fa-search"></i>
                    </a>
                </li>
                <li class="divider"></li>
                <li class="hidden-xs">
                    <a href="#" id="settings" title="Settings" data-toggle="popover" data-placement="bottom" data-toggle="tooltip" data-placement="bottom">
                        <i class="fa fa-cog"></i>
                    </a>
                </li>
                <li class="hidden-xs dropdown">
                    <a href="#" title="Account" id="account" class="dropdown-toggle" data-toggle="dropdown" data-toggle="tooltip" title="My account" data-placement="bottom">
                        <i class="fa fa-user"></i>
                    </a>
                    <ul id="account-menu" class="dropdown-menu account" role="menu">
                        <li role="presentation" class="account-picture">
                            <img src="/img/avatars/<?= $identity->getAvatarFile() ?>" alt="<?= $identity->getUsername() ?>">
                            <?= $identity->getUsername() ?>
                        </li>
                        <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'users', 'index')): ?>
                            <li role="presentation">
                                <a href="/users" class="link">
                                    <i class="fa fa-user"></i>
                                    Profile
                                </a>
                            </li>
                        <?php endif; ?>
                        <?php if ($this->acl->isAllowed($identity->getProfile()->getName(), 'session', 'lock')): ?>
                            <li role="presentation">
                                <a href="/session/lock" class="link">
                                    <i class="fa fa-lock"></i>
                                    Lock my session
                                </a>
                            </li>
                        <?php endif; ?>
                        <li role="presentation">
                            <a href="#" class="link">
                                <i class="fa fa-inbox"></i>
                                Inbox
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="visible-xs">
                    <a href="#"
                       class="btn-navbar"
                       data-toggle="collapse"
                       data-target=".sidebar"
                       title="">
                        <i class="fa fa-bars"></i>
                    </a>
                </li>
                <li class="hidden-xs"><a href="/session/logout" data-toggle="tooltip" title="Sign out" data-placement="bottom" data-no-pjax><i class="fa fa-sign-out"></i></a></li>
            </ul>
            <form id="search-form" class="navbar-form pull-right" role="search">
                <input type="search" class="form-control search-query" placeholder="Search...">
            </form>
            <div class="notifications pull-right">
                <div class="alert pull-right">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    <i class="fa fa-info-circle"></i> Check out Light Blue <a id="notification-link" href="#">settings</a> on the right!
                </div>
            </div>
        </div>
    </header>
    <div class="content container">
      <?= $this->flash->output(); ?>
      <?= $this->getContent(); ?>
    </div>


    <div class="loader-wrap hiding hide">
        <div id="loader-wrapper" class="center">
            <h3>Loading</h3>
            <div id="loader"></div>
        </div>
    </div>
</div>